n8n_agent_source/Memory_agent.json
{
  "name": "Memory_agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        -112
      ],
      "id": "ffe35309-05c3-4725-8304-a49d75eed28c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=Role:\nYou are MemoryBase_Agent, Salman’s brain in AI form. Your job is to store, organize, and retrieve important details like contacts, teammates, company info, past conversations, and anything else Salman might need later.\n\nYou don’t just store data—you make sure it’s easy to find. When Salman asks for something, you retrieve it fast and give only the important details, keeping it simple and clear.\n\n📝 What You Store & Manage:\n✅ Notifications → Notifications, messages and everything that salman have in his life.\n✅ Company Info → Important business details like policies, pricing, projects, and past deals.\n✅ Past Conversations & Stories → Notes from past meetings, key decisions, and client interactions, our past convo will be stored in personal data\n✅ Important Docs & References → Store and fetch links, files, or summaries Salman might need later.\nAlso the team mates information and contacts\n\n \nI'll tell you where it will be:  (Always understand that we only have one knowledge base and the tables we have is \"Notifications\", \"Personal\", \"Contacts\")\nKnowledge base will have everything including those tables. \nWhen you want to get a data you should check these two tables and should give the data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        704,
        -112
      ],
      "id": "49ff9b27-e63f-4ed7-8fa4-6d7a3913aa96",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "base",
        "options": {
          "permissionLevel": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Permission_Level', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        800,
        128
      ],
      "id": "6470af07-aa22-4d73-b629-f58e9f57dfbc",
      "name": "get many records"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "personal data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('personal_data', `data from the ai`, 'string') }}"
          },
          "matchingColumns": [
            "personal data"
          ],
          "schema": [
            {
              "id": "personal data",
              "displayName": "personal data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        512,
        320
      ],
      "id": "b6214a8d-a99a-4046-ba8b-934fd440b7f1",
      "name": "Create a record - personal"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tbluLGQVqjaVMPskC",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tbluLGQVqjaVMPskC"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        704,
        320
      ],
      "id": "17008f31-3879-462d-b125-185ab501261a",
      "name": "Search - personal"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tbluLGQVqjaVMPskC",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tbluLGQVqjaVMPskC"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "personal data"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "personal data",
              "displayName": "personal data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        480,
        128
      ],
      "id": "e01095ac-6658-4d48-98f9-0a755cce8c4a",
      "name": "Create or Update Existing - personal"
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tbluLGQVqjaVMPskC",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tbluLGQVqjaVMPskC"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        992,
        128
      ],
      "id": "f3c7ee24-54c7-43a1-bef9-292f10459f34",
      "name": "delete record - personal"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tbluLGQVqjaVMPskC",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tbluLGQVqjaVMPskC"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        640,
        128
      ],
      "id": "39c3612f-ca72-41a5-9203-c81425881931",
      "name": "get record - personal"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tbluLGQVqjaVMPskC",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tbluLGQVqjaVMPskC"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "personal data",
              "displayName": "personal data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        880,
        320
      ],
      "id": "0c639c55-111b-4a28-9295-fb70f76ce31d",
      "name": "Update record - personal"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Memory_key_BAse"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        320
      ],
      "id": "1a035b03-0f4c-4408-8984-56ac5265d216",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tblnifhM4rV6psSrN",
          "mode": "list",
          "cachedResultName": "Notifications",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tblnifhM4rV6psSrN"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1072,
        336
      ],
      "id": "67405477-8046-4b5b-81a1-6ed7a6fe8b13",
      "name": "Search notifications"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tblnifhM4rV6psSrN",
          "mode": "list",
          "cachedResultName": "Notifications",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tblnifhM4rV6psSrN"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1168,
        176
      ],
      "id": "4d56d035-9a27-4ab0-b72e-26136fb8a9ec",
      "name": "get record - notifications"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tblnTD81v7IZ4rh5m",
          "mode": "list",
          "cachedResultName": "Contact details",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tblnTD81v7IZ4rh5m"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        336
      ],
      "id": "ae023000-551f-4d7b-8f79-b0d6a1374f72",
      "name": "get record - contacts"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSR6OLUZFuWzXiD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD"
        },
        "table": {
          "__rl": true,
          "value": "tblnTD81v7IZ4rh5m",
          "mode": "list",
          "cachedResultName": "Contact details",
          "cachedResultUrl": "https://airtable.com/appSR6OLUZFuWzXiD/tblnTD81v7IZ4rh5m"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1440,
        336
      ],
      "id": "91388ebb-d210-4ee0-a8ee-7b937109eb77",
      "name": "Search contacts"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        320
      ],
      "id": "0a482d4f-b865-48c4-bbe4-e0e280a18e57",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SpqoEmnmEa1Cy1lH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get many records": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a record - personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search - personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update Existing - personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete record - personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get record - personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update record - personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search notifications": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get record - notifications": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get record - contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3ed77cc-3908-44d9-bf7d-af0b39b55e3e",
  "meta": {
    "instanceId": "498dd19097f281cd404ce965f402e87502d7baa728dab9dd09f3fe98a22d6ef2"
  },
  "id": "kqG5ifYX1ZWZpEqT",
  "tags": []
}