n8n_agent_source/Project_management.json
{
  "name": "Project_management",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "91701153-25c8-4515-96c4-809b2fc0e255",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=You are an project manager agent, You will be managing and taking note of all projects, tasks and todos of company and the client.\n\nSo when someone asks about the project details, you'll be giving the project details. \n\nAlso you can add notes (feedback or description) and you can delete, create and manage projects. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        288,
        64
      ],
      "id": "0d75296d-6e37-417d-9400-7e3d2119d75c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "dasds"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        304
      ],
      "id": "aa5163fb-a36c-4a67-b8ba-c5aa087e5084",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 929617135,
          "mode": "list",
          "cachedResultName": "Client Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=929617135"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        288,
        544
      ],
      "id": "a543fe60-a327-45b9-bc8a-ca8dcbf1df46",
      "name": "Clients task"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        448,
        544
      ],
      "id": "bb6e034d-4229-4a5e-bc9f-bbb79a7ec6e1",
      "name": "Company task"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals__using_to_match_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [
            "Goals"
          ],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        608,
        544
      ],
      "id": "5cdc660d-c146-4a6c-9110-a10740218b28",
      "name": "update notes in company task"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals__using_to_match_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [
            "Goals"
          ],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        752,
        544
      ],
      "id": "cdbbf6ca-4892-4060-8449-a7ee9a6f3829",
      "name": "update notes in client task"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        208,
        720
      ],
      "id": "79b1dc4c-e804-4571-bdc2-5a31cda380eb",
      "name": "Create company task"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        368,
        704
      ],
      "id": "a0a3d01b-26b3-48b2-a486-587f6aae639e",
      "name": "create clients task"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        640,
        720
      ],
      "id": "cda16848-6fb5-4ac8-8e75-e5d6985f34e0",
      "name": "delete company task"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo",
          "mode": "list",
          "cachedResultName": "Web I Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15IpJm8oHiZMSc0_F6ZRZbNWPH3bpvleN4skub_l95qo/edit#gid=0"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        800,
        752
      ],
      "id": "2bf17598-177b-410e-8867-4f012a91ba8f",
      "name": "delete client task"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        304
      ],
      "id": "8d706283-72d7-49dc-90a3-044d740ade3c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SpqoEmnmEa1Cy1lH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clients task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update notes in company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update notes in client task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create clients task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete client task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d23232ef-c361-4810-aa7b-c0c0f30b27d4",
  "meta": {
    "instanceId": "498dd19097f281cd404ce965f402e87502d7baa728dab9dd09f3fe98a22d6ef2"
  },
  "id": "rOjCXhMvJPUvTMoN",
  "tags": []
}