n8n_agent_source/Schedule_Agent.json
{
  "name": "Schedule_Agent",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "c8026519-6b35-4807-a580-b453982423cc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I'll be sending a reminder, So what you'll be doing is. \n\nYou always remind the user that they have this task to do. \n\nYou'll be passing a reminder as a command. You're the final reminder that should output a doubale command. Just output the reminder and nothing else.\n\nexample Input: \nEvent name: check inbox\nExample output: \nplease check my inbox now. \n\nActual input:\nEvent name: {{ $json['event_name'] }}\n\nGive me the output now. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        704,
        0
      ],
      "id": "5b84cd61-2398-46f8-b206-9af6d15dec74",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e67568ed-4d85-40e7-8583-b09f691d33ca",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "name": "main_agent",
        "workflowId": {
          "__rl": true,
          "value": "I11nwRFREUHwRmLy",
          "mode": "list",
          "cachedResultName": "My project — Jeni"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        928,
        368
      ],
      "id": "9792ae68-667d-4546-9eff-2f313ee41254",
      "name": "main agent"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json['event_time'] }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ],
      "id": "fd07794e-f041-4c27-b907-926a20ee493b",
      "name": "Wait",
      "webhookId": "1cd4796d-5394-4d9b-9769-d0dc8a75d294"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        368
      ],
      "id": "5150d57d-777f-4438-8486-7cc43f509a95",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SpqoEmnmEa1Cy1lH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "064d91f2-d017-4487-9cdb-96497b1cd52a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "498dd19097f281cd404ce965f402e87502d7baa728dab9dd09f3fe98a22d6ef2"
  },
  "id": "Fg1UXckKXpsYjejC",
  "tags": []
}